<div class="col-md-3 col-title">
    <label>{{ theatre.id }}</label>
    <input type="text" class="form-control" placeholder="Название"
           data-ng-model="theatre.title" data-ng-blur="saveTheatre(theatre)"/>
    <p class="updated-message" data-ng-show="lastUpdatedId == theatre.id">
        <span class="glyphicon glyphicon-ok"></span> Сохранено
    </p>
</div>
<div class="col-md-1">
    <input type="text" class="form-control" placeholder="Аббр."
           data-ng-model="theatre.abbr" data-ng-blur="saveTheatre(theatre)"/>
</div>
<div class="col-md-3">
    <input type="text" class="form-control" placeholder="Ссылка"
           data-ng-model="theatre.link" data-ng-blur="saveTheatre(theatre)"/>

    <input type="text" class="form-control input-house_slug" placeholder="Слаг в ДА"
           data-ng-model="theatre.house_slug" data-ng-blur="saveTheatre(theatre)"/>
</div>
<div class="col-md-2">
    <input type="text" class="form-control" placeholder="Ключ"
           data-ng-model="theatre.key" data-ng-blur="saveTheatre(theatre)"/>
</div>
<div class="col-md-2">
    <input type="text" class="form-control" placeholder="Fetcher"
           data-ng-model="theatre.fetcher" data-ng-blur="saveTheatre(theatre)"/>
</div>
<div class="col-md-1">
    <button type="button" class="btn btn-danger delete-theatre" data-ng-click="deleteTheatre(theatre)" title="Удалить">&times;</button>
</div>