<div class="col-md-12" data-ng-hide="showNewRow">
    <a href="#" data-ng-click="$parent.showNewRow = true">Добавить</a>
</div>

<div data-ng-show="showNewRow">
    <div class="col-md-3 col-title">
        <label>+</label>
        <input type="text" class="form-control" placeholder="Название"
               data-ng-model="newTheatre.title"/>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" placeholder="Аббр." data-ng-model="newTheatre.abbr"/>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Ссылка" data-ng-model="newTheatre.link"/>
        <input type="text" class="form-control input-house_slug" placeholder="Слаг в ДА"
               data-ng-model="newTheatre.house_slug" />
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Ключ" data-ng-model="newTheatre.key"/>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Fetcher" data-ng-model="newTheatre.fetcher"/>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-success add-theatre" title="Добавить"
                data-ng-click="addTheatre(newTheatre)">+</button>
    </div>
</div>