a {
    text-decoration: none;
    border-bottom: 1px solid rgba(66, 139, 202, 0.5); /* #428bca */
}
a:hover,
a:active {
    text-decoration: none;
    border-bottom: 1px solid rgba(66, 139, 202, 0.5); /* #428bca */
}
h1 {
    background: #28a4c9;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2em;
    padding: 0 1.5em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    font-size: 2em;
}
header {
    text-align: center;
}
.month {

}
.week {
    clear: both;
    margin: 0;
    padding: 1em .5em 1.5em;
    border-top: 1px solid #eee;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.week:hover {
    background-color: #fcfbe9;
    -webkit-transition: background-color 100ms ease;
    -moz-transition: background-color 100ms ease;
    -o-transition: background-color 100ms ease;
    -ms-transition: background-color 100ms ease;
    transition: background-color 100ms ease;
}
.day {
    float: left;
    width: 14.2%;
    /*border-left: 1px solid #ccc;*/
    /*border-top: 1px solid #ccc;*/
    padding: .5em .7em;
}
.day.previous,
.day.next {
    color: #ccc;
}

.day-number {
    font-size: 1.8em;
    margin-bottom: .6em;
}
.day.sat .day-number,
.day.sun .day-number {
    border-left: 3px solid #dd7d70;
    position: relative;
}
.day.today .day-number {
    border-left: 3px solid #28a4c9;
    position: relative;
}

.day-of-week-name {
    font-size: 0.5em;
    color: #888;
    position: relative;
    /*top: -1em;*/
}
.play-info {
    clear: both;
    overflow: hidden;
}
.play-info.theatre19 {

}
.play-time {
    float: left;
    max-width: 3em;
    width: 22%;
}
.play-title {
    float: left;
    width: 78%;
}

.play-scene {
    font-size: .8em;
    color: #666;
}
.play-separator {
    margin: 0 .2em;
}


.week-links,
.month-links {
    margin: 0;
    font-size: .9em;
}
.month-links {

}
.week-links {
    display: none;
    clear: both;
    position: absolute;
    left: 1em;
    bottom: .5em;
}
.week:hover .week-links {
    display: block;
}
.week-links a,
.month-links a{
    border-bottom-style: dotted;
}

/* -- Styles for different views -- */

.view-week .on-month-view {
    display: none;
}
.view-month .on-week-view {
    display: none;
}

/* 1. Month view */

.container.view-month {
    width: 96%;
}

.view-month .week {
    display: block;
}
.view-month .show-month {
    display: none;
}
.view-month .day {
    margin: 0;
}
.view-month .day-number {
    float: none;
    width: auto;
    padding:0;
}
.view-month .plays {
    float: none;
    width: auto;
    padding:0;
}
.view-month .day.sat .day-number,
.view-month .day.sun .day-number,
.view-month .day.today .day-number {
    padding-left: 10px;
    left: -13px;
}
@media (max-width: 1499px) {
    .view-month .play-time,
    .view-month .play-title {
        display: block;
        float: none;
        width: auto;
    }
}

/* 2. Week view */

@media (min-width: 1200px) {
    .container.view-week {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container.view-week {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container.view-week {
        width: 750px;
    }
}

.view-week .show-month {
    display: inline;
}
.view-week .week-links {
    display: none !important;
}
.view-week .week {
    display: none;
}
.view-week .week:hover {
    background-color: transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.view-week .week.active {
    display: block;
    margin-top: 1em;
    border-top: 0 none;
}
.view-week .day.row {
    float: none;
    width: auto;
    overflow: hidden;
    padding: 1em .7em;
    border-top: 1px solid #eee;
}
.view-week .day.sat .day-number,
.view-week .day.sun .day-number,
.view-week .day.today .day-number {
    padding-left: 12px;
}
.view-week .play-title {
    width: 88%;
}