<div class="row footer">
    <div class="col-xs-12">
        <p>
            95% расписания собирается автоматически с вебсайтов театров и других ресурсов.
            Ошибки возможны. Помогите нам исправить их &mdash; присылайте замечания или пожелания
            Максиму на <a href="mailto:max@theatres.kh.ua">max@theatres.kh.ua</a>.
        </p>
        <p>
            Некоторых театров все еще нет здесь. Это потому, что их расписание
            невозможно получить автоматически.
        </p>
        <p>А эти уже есть:</p>
        <ul>
            <li>Театр имени Шевченко</li>
            <li>Театр «PostScriptum»</li>
            <li>Театр имени Пушкина</li>
            <li>Все театры Дома Актера</li>
            <li>Театр «Мадригал»</li>
            <li>Кукольный театр</li>
            <li>Театр музыкальной комедии</li>
            <li>Театр для детей и юношества</li>
            <li>Оперный театр (ХАТОБ)</li>
        </ul>
        <p>В скором времени появятся:</p>
        <ul>
            <li>Театр «На Жуках»</li>
            <li>Филармония и Органный зал</li>
        </ul>
        <p>Под вопросом пока остаются:</p>
        <ul>
            <li>Театр «Публицист»</li>
            <li>Театр DADA</li>
            <li>Театр-студия «Ступени»</li>
            <li>Театр-студия «Винора»</li>
            <li>Харьковский драматический театр</li>
        </ul>
        <p>
            Спектакли из этих театров пока добавляются вручную постепенно.<br/>
            Если вы имеете отношение к одному из них и можете чем-то помочь, свяжитесь,
            пожалуйста, с нами:&nbsp;<a href="mailto:max@theatres.kh.ua">max@theatres.kh.ua</a>.
        </p>
    </div>
</div>