
/backend/vendor
/bower_components
/.idea/workspace.xml
/.idea/.name
/.idea/dataSources.ids
/.idea/dataSources.xml
/tmp
/logs
/backend/app/config.php
node_modules
build
deploy
secret.json
