<div class="container admin" id="admin"
     ng-cloak ng-app="admin">

    <header>
        <h1><a href="{{ app.url_generator.generate('homepage') }}">{{ appTitle }}</a></h1>
    </header>

    <ng-view></ng-view>
</div>