<!--<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>-->
<script src="{{ base }}/assets/vendor/jquery/dist/jquery.min.js"></script>

<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<script src="{{ base }}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>-->
<script src="{{ base }}/assets/vendor/angular/angular.min.js"></script>

<script src="{{ base }}/assets/js/flying-focus.js"></script>

<script src="{{ base }}/assets/js/theatres.js"></script>
<script src="{{ base }}/assets/js/theatres_admin.js"></script>

{% if debug == true %}
    {% include "debug.html" %}
{% endif %}