<div class="container" id="main"
     ng-cloak ng-app="frontApp">

    <header>
        <h1><a href="{{ app.url_generator.generate('homepage') }}">{{ appTitle }}</a></h1>
    </header>

    <ng-view></ng-view>
</div>