<div class="container" id="main"
     ng-cloak
     ng-app="frontApp"
     >

    <header>
        <h1><a href="{{ base }}/" rel="home">{{ appTitle }}</a></h1>
    </header>

    <div ng-view></div>
</div>