<!doctype html>
<meta charset="utf-8" lang="ru">

<title>
    {{ appTitle }} /
    {% if query.theatre %} {{ query.theatre | theatreTitle }} / {% endif %}
    {% if query.month %} {{ query.month | monthName | title }} {% endif %}
    {% if show_year and query.year %} {{ query.year }} {% endif %}
    {% if is_admin %} Панель управления {% endif %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">-->
<link href="{{ base }}/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="{{ base }}/assets/css/theatres.css" rel="stylesheet">
<link href="{{ base }}/assets/css/theatres-print.css" rel="stylesheet" media="print">

<link href="{{ base }}/assets/css/admin.css" rel="stylesheet">

<!--[if lt IE 9]>
  <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
  <script src="assets/vendor/html5shiv/dist/html5shiv.js"></script>
  <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
  <script src="assets/vendor/respond/dest/respond.min.js"></script>
<![endif]-->
