<!doctype html>
<meta charset="utf-8" lang="ru">

<title>
    {{ appTitle }} /
    {% if query.theatre %} {{ query.theatre | theatreTitle }} / {% endif %}
    {{ query.month | monthName | title }}
    {% if show_year %} {{ query.year }} {% endif %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">-->
<link href="{{ base }}/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base }}/assets/css/theatres.css" rel="stylesheet">
<link href="{{ base }}/assets/css/theatres-print.css" rel="stylesheet" media="print">

<link href="{{ base }}/assets/css/admin.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
