<!doctype html>
<meta charset="utf-8" lang="ru">

<title>Все спектакли Харькова на одной странице</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ base }}/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base }}/assets/css/theatres.css" rel="stylesheet">
<link href="{{ base }}/assets/css/theatres-print.css" rel="stylesheet" media="print">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<div class="container view-month" id="main">
    <header>
        <h1>Все спектакли Харькова на одной странице</h1>
    </header>

    <h2>Декабрь</h2>

    <div class="month">
        <p class="month-links">
            <a href="#" class="show-month">Показать весь месяц</a>
        </p>
        {% for week in cal %}
        <div class="week">
            {% for day in week %}
                <div class="day row {{ day.month }} {{ day.date.format('D') | lower }} {% if day.today %} today {% endif %}">
                    <p class="day-number col-xs-3">
                        {{ day.date.format('j') }}
                        <span class="day-of-week-name">{{day.date | dayOfWeekName }}  {% if day.today %} (сегодня) {% endif %}</span>
                    </p>

                    <div class="plays col-xs-9">
                        {% for play in day.plays %}
                        <p class="play-info {{ play.theatre }}">
                            <span class="play-time">{{ play.getDateTime.format('H:i') }}</span>
                            <span class="play-title">
                                <a href="{{ play.link }}">{{ play.title }}</a>
                                <br class="on-month-view">
                                <span class="play-scene">
                                    <span class="on-week-view play-separator">&middot;</span>
                                    <abbr class="on-month-view play-theatre-abbr {{ play.theatre }}" title="{{ play.getTheatreTitle() }}">{{ play.getTheatreAbbr() }}</abbr><span class="on-week-view play-theatre-title">{{ play.getTheatreTitle() }}</span>,
                                    {{ play.getSceneTitle() }}{% if play.price %}, {{ play.price }} {% endif %}
                                </span>
                            </span>

                        </p>
                        {% endfor %}
                        {% if day.plays | length ==  0 %} — {% endif %}
                    </div>
                </div>
            {% endfor %}
            <p class="week-links">
                <a href="#" class="show-week">Показать только эту неделю</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ base }}/assets/js/bootstrap.min.js"></script>

<script src="{{ base }}/assets/js/theatres.js"></script>
