{% include "header.html" %}

<div class="container view-month" id="main">
    <header>
        <h1>{{ appTitle }}</h1>
    </header>

    <div class="page-header">
        <h2>
            {{ query.month | monthName | title }}
            {% if show_year %} {{ query.year }} {% endif %}
        </h2>
        {% if query.theatre %}
        <h3>{{ query.theatre | theatreTitle }}</h3>
        {% endif %}
    </div>

    <div class="month">
        <p class="month-links">
            <a href="#" class="show-month">Показать весь месяц</a>
        </p>
        {% for week in cal %}
        <div class="week">
            {% for day in week %}
                <div class="day row {{ day.month }} {{ day.date.format('D') | lower }} {% if day.today %} today {% endif %}">
                    <p class="day-number col-xs-3">
                        <span class="day-number-number">{{ day.date.format('j') }}</span>
                        <span class="day-of-week-name">{{day.date | dayOfWeekName }}  {% if day.today %} (сегодня) {% endif %}</span>
                    </p>

                    <div class="plays col-xs-9">
                        {% for play in day.plays %}
                        <p class="play-info {{ play.theatre }}" itemscope itemtype="http://schema.org/TheaterEvent">
                            <meta itemprop="startDate" content="{{ play.getDateTime.format('Y-m-d\\TH:i:sO') }}">
                            <span class="play-time">{{ play.getDateTime.format('H:i') }}</span>
                            <span class="play-title">
                                <a href="{{ play.link }}" itemprop="url"><span itemprop="name">{{ play.title }}</span></a>
                                <br class="on-month-view">
                                <span class="play-scene">
                                    <span class="on-week-view play-separator">&middot;</span>
                                    <abbr class="on-month-view play-theatre-abbr {{ play.theatre }}" title="{{ play.getTheatreTitle() }}">{{ play.getTheatreAbbr() }}</abbr><span class="on-week-view" itemprop="performer"><a itemprop="url" href="{{ play.getTheatreLink() }}" class="play-theatre-title">{{ play.getTheatreTitle() }}</a></span>,
                                    <span class="nobr">{{ play.getSceneTitle() }}</span>{% if play.price %}, {{ play.price }} {% endif %}
                                </span>
                            </span>

                        </p>
                        {% endfor %}
                        {% if day.plays | length ==  0 %} — {% endif %}
                    </div>
                </div>
            {% endfor %}
            <p class="week-links">
                <a href="#" class="show-week">Показать только эту неделю</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}