<div class="breadcrumb">
    <a href="/admin">Панель управления</a>
    <span class="sep">→</span>
    <h2>Расписание</h2>
</div>

<div data-ng-include="'src/admin/components/shows/filters.tpl.html'"></div>

<form id="edit-shows-form" class="admin-form" action="" method="post">
    <fieldset class="row form-group show-row"
              data-ng-repeat="show in shows" id="show-{{ show.key }}">
        <div class="col-md-2 col-title">
            <label for="show-title-{{ show.id }}">{{ show.id }}</label>
            <input type="text" class="form-control" placeholder="Дата"
                   data-ng-model="show.date" date-time="DD.MM.YYYY HH:mm" data-ng-blur="saveShow(show)"/>
            <span class="updated-message" data-ng-show="lastUpdatedId == show.id">
                <span class="glyphicon glyphicon-ok"></span> Сохранено
            </span>
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    data-ng-model="show.play_id" data-ng-change="saveShow(show)"
                    data-ng-options="play.id as play.title for play in plays">
            </select>
            <p class="show-theatre">{{ getTheatreById(show.theatre_id).title }}</p>
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    data-ng-model="show.scene_id" data-ng-change="saveShow(show)"
                    data-ng-options="scene.id as scene.title for scene in scenes">
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Цена"
                   data-ng-model="show.price" data-ng-blur="saveShow(show)"/>
        </div>
        <div class="col-md-2 col-button">
            <button type="button" class="btn btn-danger delete-show" data-ng-click="deleteShow(show)" title="Удалить">&times;</button>
            &nbsp;&nbsp;
            <a href="#" class="text-danger" data-ng-click="deleteShow(show)">Удалить</a>
        </div>
    </fieldset>
    <fieldset class="row form-group show-row" id="show-new">
        <div class="col-md-2 col-title">
            <label for="show-title-new">+</label>
            <input type="text" class="form-control" placeholder="Дата (д.м.г ч:м)"
                   data-ng-model="newShow.date" date-time="DD.MM.YYYY HH:mm" />
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    data-ng-model="newShow.play_id" data-ng-change="setShowDefaults(newShow)"
                    data-ng-options="play.id as play.title for play in plays">
            </select>
            <p class="show-theatre">{{ getTheatreById(newShow.theatre_id).title }}</p>
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    data-ng-model="newShow.scene_id"
                    data-ng-options="scene.id as scene.title for scene in scenes">
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Цена"
                   data-ng-model="newShow.price"/>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success add-show" title="Добавить"
                    data-ng-click="addShow(newShow)">+</button>
            &nbsp;&nbsp;
            <a href="#" class="text-success" data-ng-click="addShow(newShow)">Добавить</a>
        </div>
    </fieldset>
</form>