<!doctype html>
<meta charset="utf-8" lang="ru">

<title>Панель управления / Все спектакли Харькова на одной странице</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="all" />
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext"
      rel="stylesheet" media="all" />
<link href="/assets/css/theatres.css" rel="stylesheet" media="all" />
<link href="/assets/css/theatres-print.css" rel="stylesheet" media="print" />
<link href="/assets/css/front_app.css" rel="stylesheet" media="all" />

<!--[if lt IE 9]>
<script src="/assets/vendor/html5shiv/dist/html5shiv.js"></script>
<script src="/assets/vendor/respond/dest/respond.min.js"></script>
<![endif]-->

<div id="main" class="container"
     data-ng-cloak
     data-ng-app="frontApp">

    <header>
        <h1><a href="/">Все спектакли Харькова на одной странице</a></h1>
    </header>

    <div data-ng-view></div>
</div>


<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-route/angular-route.min.js"></script>
<script src="/assets/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/assets/js/angular-locale_ru-ru.js"></script>
<script src="/assets/vendor/angular-local-storage/angular-local-storage.min.js"></script>
<script src="/assets/js/theatres.js"></script>

<script src="/assets/js/modules/helper.js"></script>
<script src="/assets/js/modules/helper/date.js"></script>
<script src="/assets/js/modules/api.js"></script>
<script src="/assets/js/modules/api/factory.js"></script>
<script src="/assets/js/modules/api/theatres.js"></script>
<script src="/assets/js/modules/api/theatres/theatre.js"></script>
<script src="/assets/js/modules/api/plays.js"></script>
<script src="/assets/js/modules/api/plays/play.js"></script>
<script src="/assets/js/modules/api/plays/play/tags.js"></script>
<script src="/assets/js/modules/api/scenes.js"></script>
<script src="/assets/js/modules/api/scenes/scene.js"></script>
<script src="/assets/js/modules/api/shows.js"></script>
<script src="/assets/js/modules/api/shows/show.js"></script>
<script src="/assets/js/modules/api/tags.js"></script>

<script src="assets/js/modules/front.js"></script>
<script src="assets/js/modules/front/controllers/month.js"></script>
<script src="assets/js/modules/front/controllers/play.js"></script>