<div class="breadcrumb">
    <a href="/admin">Панель управления</a>
    <span class="sep">→</span>
    <h2>Спектакли</h2>
</div>

<ng-include src="'/assets/templates/admin/plays/filters.html'"></ng-include>

<form id="edit-plays-form" class="admin-form" action="" method="post">
    <fieldset class="row form-group play-row"
              ng-repeat="play in plays" id="play-{{ play.key }}">
        <div class="col-md-4 col-title">
            <label for="play-title-{{ play.id }}">{{ play.id }}</label>
            <input type="text" id="play-title-{{ play.id }}" class="form-control" placeholder="Название"
                   ng-model="play.title" ng-blur="savePlay(play)"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Ключ"
                   ng-model="play.key" ng-blur="savePlay(play)"/>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary delete-play" ng-click="editPlay(play)" title="Изменить">/</button>
            &nbsp;&nbsp;
            <a href="/admin/plays/play/{{ play.id }}" class="text-primary" ng-click="editPlay(play)">Подробнее...</a>
        </div>
        <div class="col-md-3 col-button">
            <button type="button" class="btn btn-danger delete-play" ng-click="deletePlay(play)" title="Удалить">&times;</button>
            &nbsp;&nbsp;
            <a href="#" class="text-danger" ng-click="deletePlay(play)">Удалить</a>
            <span class="updated-message" ng-show="lastUpdatedId == play.id">
                <span class="glyphicon glyphicon-ok"></span> Сохранено
            </span>
        </div>
    </fieldset>
    <fieldset class="row form-group play-row" id="play-new">
        <div class="col-md-4 col-title">
            <label for="play-title-new">+</label>
            <input type="text" id="play-title-new" class="form-control" placeholder="Название"
                   ng-model="newPlay.title"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Ключ" ng-model="newPlay.key"/>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" placeholder="Сцена" ng-model="newPlay.scene" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Театр" ng-model="newPlay.theatre" />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success add-play" title="Добавить"
                    ng-click="addPlay(newPlay)">+</button>
            &nbsp;&nbsp;
            <a href="#" class="text-success" ng-click="addPlay(newPlay)">Добавить</a>
        </div>
    </fieldset>
</form>