<div class="breadcrumb" xmlns="http://www.w3.org/1999/html">
    <a href="/admin">Панель управления</a>
    <span class="sep">→</span>
    <h2>Театры</h2>
</div>

<div class="admin-form">
    <fieldset class="row form-group options-panel"
              data-ng-include="'/assets/templates/admin/theatres/filters.html'"></fieldset>

    <fieldset class="row form-group theatre-row"
              data-ng-include="'/assets/templates/admin/theatres/theatre_add.html'"></fieldset>

    <fieldset class="row form-group theatre-row"
              data-ng-repeat="theatre in theatres | filter:theatresFilter track by $index"
              data-ng-include="'/assets/templates/admin/theatres/theatre_row.html'"></fieldset>
</div>