<div class="breadcrumb">
    <a href="/admin">Панель управления</a>
    <span class="sep">→</span>
    <h2>Театры</h2>
</div>

<form id="edit-theatres-form" class="admin-form" action="" method="post">
    <fieldset class="row form-group theatre-row"
              ng-repeat="theatre in theatres" id="theatre-{{ theatre.key }}">
        <div class="col-md-3 col-title">
            <label for="theatre-title-{{ theatre.id }}">{{ theatre.id }}</label>
            <input type="text" id="theatre-title-{{ theatre.id }}" class="form-control" placeholder="Название"
                   ng-model="theatre.title" ng-blur="saveTheatre(theatre)"/>
            <p class="updated-message" ng-show="lastUpdatedId == theatre.id">
                <span class="glyphicon glyphicon-ok"></span> Сохранено
            </p>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" placeholder="Аббр."
                   ng-model="theatre.abbr" ng-blur="saveTheatre(theatre)"/>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Ссылка"
                   ng-model="theatre.link" ng-blur="saveTheatre(theatre)"/>

            <input type="text" class="form-control input-house_slug" placeholder="Слаг в ДА"
                   ng-model="theatre.house_slug" ng-blur="saveTheatre(theatre)"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Ключ"
                   ng-model="theatre.key" ng-blur="saveTheatre(theatre)"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Fetcher"
                   ng-model="theatre.fetcher" ng-blur="saveTheatre(theatre)"/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger delete-theatre" ng-click="deleteTheatre(theatre)" title="Удалить">&times;</button>
        </div>
    </fieldset>
    <fieldset class="row form-group theatre-row" id="theatre-new">
        <div class="col-md-3 col-title">
            <label for="theatre-title-new">+</label>
            <input type="text" id="theatre-title-new" class="form-control" placeholder="Название"
                   ng-model="newTheatre.title"/>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" placeholder="Аббр." ng-model="newTheatre.abbr"/>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Ссылка" ng-model="newTheatre.link"/>
            <input type="text" class="form-control input-house_slug" placeholder="Слаг в ДА"
                   ng-model="newTheatre.house_slug" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Ключ" ng-model="newTheatre.key"/>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Fetcher" ng-model="newTheatre.fetcher"/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-success add-theatre" title="Добавить"
                    ng-click="addTheatre(newTheatre)">+</button>
        </div>
    </fieldset>
</form>