<div class="page-header" ng-class="getHeaderClass()">
    <h2>{{ getTitle() }}</h2>
    <h3 ng-show="getSubtitle()">{{ getSubtitle() }}</h3>
</div>
<div class="container">
    <div class="row options-panel">
        <div class="col-md-12">
            <div class="theatres-list btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{ getTheatreButtonTitle() }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getTheatreClass()"><a href="#" ng-click="setTheatre(null, $event)">Все</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="theatre in theatres" ng-class="getTheatreClass(theatre)">
                            <a href="#" ng-click="setTheatre(theatre, $event)">{{ theatre.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="scenes-list btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{ getSceneButtonTitle() }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="getSceneClass()"><a href="#" ng-click="setScene(null, $event)">Все</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="scene in scenes" ng-class="getSceneClass(scene)">
                            <a href="#" ng-click="setScene(scene, $event)">{{ scene.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn-group" ng-show="loading">
                <div class="btn-group loading-text">загружаем...</div>
            </div>
        </div>
    </div>
    <div class="row month">
        <div class="col-md-12">
            <div class="day row"
                 ng-class="getDateClass(date)"
                 ng-repeat="date in days"
                >
                <p class="day-number col-xs-2">
                    <span class="day-number-number">{{ date | date : 'd' }}</span>
                    <span class="day-of-week-name">
                        <span class="hidden-xs">{{ date | date : 'EEEE' }}</span>
                        <span class="hidden-sm hidden-md hidden-lg">{{ date | date : 'EEE' }}</span>
                        <span ng-show="isToday(date)"> (сегодня)</span>
                    </span>
                </p>
                <div class="plays col-xs-10">
                    <div
                         ng-repeat="play in getPlaysOnDay(date)"
                         ng-include="'templates/front_app.play_brief.html'"
                        >
                    </div>
                </div>
            </div>
            <div ng-show="loading" class="overlay month-overlay"></div>
        </div>
    </div>
</div>

<!--<pre>{{ plays }}</pre>-->