<div class="page-header with-sub-title">
    <h2>{{ getTitle() }}</h2>
    <h3>{{ getSubtitle() }}</h3>
</div>
<div class="container">
    <div class="row play-info play-full {{ play.theatre }}" itemscope itemtype="http://schema.org/TheaterEvent">
        <div class="play-time col-md-1">
            <time datetime="{{ play.date | date : 'yyyy-MM-ddTHH:mmZ' }}" itemprop="startDate" content="{{ play.date | date : 'yyyy-MM-ddTHH:mmZ' }}">
                {{ play.date | date : 'H:mm' }}
            </time>
        </div>
        <div class="play-title col-md-11">
            <div class="row">
                <h4 class="col-lg-8"><a data-href="{{ play.link }}" href="/play/{{ play.id }}" itemprop="url"><span itemprop="name">{{ play.title }}</span></a></h4>
                <div class="play-scene col-lg-4">
                    <span itemprop="performer">
                        <a itemprop="url" href="#"
                           class="play-theatre-title">{{ theatre.title }}</a><span ng-show="theatre.house_slug">, Дом Актера</span>
                    </span>
                    <span class="play-separator">&middot;</span>
                    <span class="nobr">{{ scene.title }}</span><span ng-show="play.price">
                    <span class="play-separator">&middot;</span>
                    <span class="price nobr">{{ play.price }}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>