<IfModule mod_rewrite.c>
    Options -MultiViews

    DirectoryIndex front.html

        RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(api|system|fetch) app.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^admin admin.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(theatre|play) front.html [L]
</IfModule>